body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    height: 960px;
    width: 960px;
}

.row {
    display: flex;
    flex: 1 1 auto;
}

.square {
    border: 1px solid black;
    flex: 1 1 auto;
}

.touched {
    background-color: black;
}