body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.square {
    border: 1px solid black;
    width: 24px;
    height: 24px;
}

.touched {
    background-color: black;
}